frules_version = '2';
services firebase.storage{
    match /b/{bucket}/o {
        match /{allPaths=**}{
            allow read, write: if true;
        }
    }
}