@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,900&display=swap');
.item-detail-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 5rem;
    background-color: #29335C;
    width: 90rem;
    height: 70rem;
    box-shadow: 0.1rem 0.1rem 0.1rem  #00000020;
    border-radius: 2rem;
    border: 0.01rem solid #eeeeee;
}
.item-detail-image-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60rem;
    
}
.item-detail-image-container{
    box-shadow: 0.2rem 0.2rem 0.2rem #00000050;
    max-width: 30rem;
}
.item-detail-image{
    width: 100%;
    border-radius: 0rem;
}
.item-detail-description{
    font-size: 1.8rem;
    font-weight: 100;
    font-family: work-sans, Roboto, sans-serif;
    text-align: justify;
    width: 50rem;
    margin: 2rem;
    padding: 2rem;
    color:#D9D9D9;
    font-family: 'Work Sans', sans-serif;
    line-height: 2.2rem;
    
}
.item-detail-description-titule{
    padding:0 0 0.5rem 0;
    margin:0 0 0.3rem 0;
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;
}
.item-detail-resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30rem;
    background-color: #eeeeee40;
    height: 100%;
    gap:1.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem  #00000020;
    border-radius: 2rem;
    border: 0.01rem solid var(--maincolor);
    font-family: work-sans, Roboto, sans-serif;
    color: white;
  
    
}
.item-detail-information{
    height: 10rem;
    
    
}
.item-detail-title{
    margin-bottom: 2rem;
    font-size: 3rem;
}
.item-detail-price{
    
    font-style: italic;
    
    font-size: 4rem;
}
.item-detail-stock{
    
    font-size: 2.5rem;
}
.item-detail-information-loading{
    font-size: 3rem;
}
.item-detal-button-terminar-compra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Rototo, sans-serif;
    border: 0.01rem solid var(--maincolor);
    background-color: #eee;
    box-shadow: 0.1rem 0.1rem 0.1rem #00000050;
    user-select: none;
}
.item-detal-button-terminar-compra:hover{
    background-color: var(--secondaryColor);
    color: var(--textColor);
    cursor: pointer;    
}

@media only screen and (max-width: 820px){
    .item-detail-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem;
        margin: 5rem;
        background-color: #29335C;
        width: 80rem;
        height: 100%;
        box-shadow: 0.1rem 0.1rem 0.1rem  #00000020;
        border-radius: 2rem;
        border: 0.01rem solid #eeeeee;
    }
    .item-detail-resume{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        width: 80%;
        background-color: #eeeeee40;
        padding: 5rem 0 5rem 0;
        box-shadow: 0.1rem 0.1rem 0.1rem  #00000020;
        border-radius: 2rem;
        border: 0.01rem solid var(--maincolor);
        font-family: work-sans, Roboto, sans-serif;
        color: white;
      
        
    }
    .item-detail-information{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height:100%;
        
        
    }
}