.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Rototo, sans-serif;
    border: 0.01rem solid var(--maincolor);
    background-color: #eee;
    box-shadow: 0.1rem 0.1rem 0.1rem #00000050;
    user-select: none;
   
}
.button:hover{
    background-color: var(--secondaryColor);
    color: var(--textColor);
    cursor: pointer;    
}