.itemcart-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 100%;
    border: 0.01rem solid #00000050;
    border-radius: 2rem;
    background-color: #eeeeee50;
    margin: 1rem;
    box-shadow: 0.30rem 0.30rem 0.30rem #00000050;

}
.itemcart-imagen{
 
    width: 10rem;
    
    border-radius: 2rem 0 0 2rem ;
    padding: 0.5rem;
}
.itemcart-tituloboton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
 
}
.itemcart-imagen-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height: 14rem;
}
.itemcart-tituloboton-titulo{
    font-size: 2rem;
}
.itemcart-count{
    display: grid;
    align-content: center;
    width: 14rem;
  
}
.itemcart-precio{
    display: grid;
    align-content: center;
   text-align: right;
   font-size: 3rem;
   margin: 1rem;
   padding: 0 1rem 0 1rem;
  
   
}

@media only screen and (max-width: 820px){
.itemcart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    border: 0.01rem solid #00000050;
    border-radius: 2rem;
    background-color: #eeeeee50;
    margin: 1rem;
    box-shadow: 0.30rem 0.30rem 0.30rem #00000050;

}
}