.navbar-link-default{
    margin: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--textColor);
    font-size: 17px;
    user-select: none;
    
    }
    .navbar-link-default:hover{
    color:var(--secondaryColor)
    }

    @media only screen and (max-width: 820px){
    .navbar-link{

        display: none;
        opacity: 0;
        }
    }