.cart-widjet-btn{
    position: relative;
    cursor:pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    margin-right: 20px;
    font-size: 23px;
   
   
  }
  .cart-widjet-btn:hover{

    color: var(--secondaryColor);

   
  }
  .cart-widjet-count{
     position: absolute;
     
     left:1rem;
     top: -0.9rem;
     color:#eee;
     font-size: 1.2rem;
  }
  .button{
    color: #29335C;
  }