*{
  padding: 0;
  margin: 0;
}
main h1{
  font-family: Roboto,sans-serif;
  text-transform: uppercase;
}


main {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}