*{
  padding: 0;
  margin: 0;
}
html,body{

  background-color: #BCBFCC;
  height: 100vh;
  font-size: 62.5%;
}
.App{
 
  background-color: white;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
