*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{


  min-height: 100%;

}
footer{
  margin-top:auto;
}

.App{
  background-color: #F2F3F7;


}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
