.card-hold-mobile {
    display: flex;
    
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    
    box-shadow: 0.5rem 0.5rem 0.51rem #00000020;
    margin: 2rem;
    background-color: #00000005;
    
}

.card-hold-mobile-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    border-bottom: 0.1rem solid #eeeeee;
    padding-bottom: 2rem;

}
.card-holder-article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}